<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
    <head>
        <title>Contact us Page</title>
    </head>
    <body>
        <div id="content">
            <h1>Welcome to Contact Page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officia, quibusdam distinctio esse quis ut est! Possimus ea dicta unde fuga repudiandae autem cum, libero quos tempora quae quo consectetur?</p>
        </div>
        <script>
            console.log("contact page");
        </script>
        <script>
            console.log("second about page script");
        </script>
    </body>
</html>